@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #f9f3ed;
}

/********** nav **********/

.container__color__nav{
    background: #ffe9d2;
    width: 100%;
}

.container__nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.logo__nav img{
    width: 180px;
    height: 75px;
}

.container__links{
    display: flex;
    list-style: none;
}

.container__links li a{
   text-decoration: none;
   margin: 0 8px 0 8px;
   color: #000;
   font-size: 18px;
   font-weight: 300;
}

.container__links li a:hover{
    color: #b16b26;
    transition: 0.3s;
}

.redes__sociales{
    display: flex;
}

.redes__sociales p{
    font-size: 18px;
    padding-right: 10px;
    font-weight: 300;
}

.redes__sociales a{
    color: rgb(70, 70, 70);
    font-size: 20px;
    padding: 0 5px 0 5px;
}

.redes__sociales a .ins:hover{
    color: rgb(242, 107, 17);
    transition: 0.3s;
}

.redes__sociales a .wa:hover{
    color: rgb(27, 189, 12);
    transition: 0.3s;
}

.redes__sociales a .fb:hover{
    color: rgb(6, 114, 230);
    transition: 0.3s;
}


/********** slider **********/
.container-slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider{
    display: flex;
    width: 300%; /*depende el numero de imagenes, si son 4 va 400%*/
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 550px;
    object-fit:cover;
    object-position: center 10%; /* acomodar la imagen top se vea mas arroba */
}

.slider__btn{
    position: absolute;
    width: 38px;
    height: 38px;
    background: rgba(0, 0, 0, 0.4);
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.slider__btn:hover{
    background: #000;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right{
    right: 10px;
}

/********** logo te ofrece **********/
.titulo__logo h1{
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 35px;
    letter-spacing: 1px; 
    font-weight: 300;
}

.img__item{
    position: relative;
    overflow: hidden;
}

.container__img__ofrece{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.img__item img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 20px;
}

/********** hover logo te ofrece **********/
.container__item__hover{
    position: absolute;
    background: #1515158c;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.img__item:hover .container__item__hover{
    transform: translateX(0%);
}

.container__item__hover a{
    text-decoration: none;
    color: #fff;
}

/********** opiniones de nuestros clientes **********/
.titulo__opiniones h2{
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 35px;
    letter-spacing: 1px; 
    font-weight: 300;
}

.container__opiniones{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.opiniones__item{
    align-items: center;
    gap: 10px;
    width: 350px;
}

.opiniones__item img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50px;
}

.estrellas i{
    color: rgb(227, 184, 14);
    font-size: 30px;
    margin-bottom: 10px;
}

.frase p{
    font-style: oblique;
}

/********** dónde encontrarnos mapa **********/

.titulo__mapa h2{
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 35px;
    letter-spacing: 1px; 
    font-weight: 300;
}

.mapa{
    text-align: center;
}

.redes__footer{
    background: #ffe9d2;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes__footer p{
    font-size: 18px;
    padding-right: 10px;
    font-weight: 300;
}

.redes__footer a{
    color: rgb(70, 70, 70);
    font-size: 20px;
    padding: 0 5px 0 5px;
}

.redes__footer a .ins:hover{
    color: rgb(242, 107, 17);
    transition: 0.3s;
}

.redes__footer a .wa:hover{
    color: rgb(27, 189, 12);
    transition: 0.3s;
}

.redes__footer a .fb:hover{
    color: rgb(6, 114, 230);
    transition: 0.3s;
}


/********** index mujer hombre **********/
/********** index mujer hombre **********/
.titulo__logo h2{
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 35px;
    letter-spacing: 1px; 
    font-weight: 300;
}

/********** galeria imagenes **********/
.container__mujer{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.container__mujer img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 3px;
    
}

/********** galeria imagenes hover **********/
.modify{
    height: 400px;
    background: #1515158c;
}

.img__item__mujer{
    position: relative;
    overflow: hidden;
}

.img__item__mujer:hover .container__item__hover{
    transform: translateX(0%);
}

.container__item__hover a{
    text-decoration: none;
    color: #fff;
}